<!-- src/app/auth/register/register.component.html -->
<div class="register-container">
  <mat-card class="register-card">
    <h2>Register</h2>
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" formControlName="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loading">
        {{ loading ? 'Registering...' : 'Register' }}
      </button>
    </form>

    <p class="bottom-text">
      Already have an account?
      <a routerLink="/login">Login here</a>
    </p>
  </mat-card>
</div>
